*{
	font-family: "Courier New", monospace;
	font-size: 20px;

	margin:0;
	padding:0;
}
body{
	background-color:skyblue;
}
#ceu-motto{
	letter-spacing: 5px;
}
html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}
h1{
	color:black;
	text-align: center;
	font-size:2rem;
}
section{
	height: 100vh;
	text-align:center;
}
h2 {
	font-size:1.5rem;
}
ol{
	list-style-type:none;
}
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

.offering-item{
	text-transform: uppercase;
}

#ceu-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#ceu-learning-list li{
	color: #075966;
}
h2 ~ a{
	text-decoration: none;
}
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}
button{
	color: white;
	background-color: #cf0053;
	border: 0px;
	border-radius: 15px;
}
section > form > label{
	color: rgb(0,0,128);
}